//- Author: Kelly Johnson
//- Copyright 2015
//- This work is licenced under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
//- http://creativecommons.org/licenses/by-nc-sa/4.0/
//-
//- Page for borrowing things

extends layout

block content
  h2="What would you like to borrow?"
  - var tbItem = 'itemtextbox'
  - var tbWhom = 'whomtextbox'
  script(type='text/javascript').
    var itemText = '#{tbItem}';
    var whomText = '#{tbWhom}';
  script(type='text/javascript' src="/js/borrow.js")
  form(name="iborrowing")
      div.input
          span.label I'm borrowing 
          - var example = 'a helmet, a cape...'
          input(type="text", id="#{tbItem}", placeholder='#{example}', onchange="borrow.text.setItem();")

  h2="From whom?"
      div.input
          input(type="text", id="#{tbWhom}", placeholder='your mom', onchange="borrow.text.setPerson();")
      p
      button(onclick='borrow.click();') Borrow
